.kcInputGroup {
    position: relative;
}

.kcInputClass {
    width: 100%;
    padding: 10px 36px 10px 16px;
    border-radius: 8px;
    border: 1px solid #cccccc;
}

.kcInputClass:active {
    border: 1px solid #aaaaaa;
}

.kcFormPasswordVisibilityButtonClass {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
    border: 0;
    background: none;
}

.kcFormSocialAccountListClass {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.kcFormSocialAccountListClass > * + * {
    margin-top: 0.5rem;
}

.kcFormSocialAccountListButtonClass {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: #eeeeee;
    cursor: pointer;
    width: 100%;
}

.kcButtonClass {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition:
        transform 0.2s,
        box-shadow 0.2s;
    cursor: pointer;
    width: 100%;
}

.kcButtonClass:focus {
    outline: none;
}

.kcButtonClass:disabled {
    background: linear-gradient(45deg, #aaa, #ccc);
    color: #666;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
    opacity: 0.6;
}

.kcLoginClass {
    padding: 0;
    padding: 80px 0;
    shrink: 0;
    margin: auto;
}

.kcFormGroupClass {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    border: none;
    width: 100%;
    margin-bottom: 1.2rem;
}

.kcFormGroupClass > * + * {
    margin-top: 0.25rem;
}

.kcFormSettingClass {
    margin: 0;
}

.kcFormSettingClass > * + * {
    margin-top: 0;
}

.kcHeaderClass {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 16px;
}

.kcHeaderWrapperClass {
    width: fit-content;
    margin: 0 auto;
    padding: 0 !important;
    color: #000000;
}

.kcSignUpClass {
    width: 100%;
    margin: 0 0 !important;
}

.kcInfoAreaWrapperClass {
    padding: 10px 0 !important;
}

.kcFormCardClass {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.kcHtmlClass {
    background: none;
    background-color: #ffffff;
}

.kcLocaleMainClass {
    display: none;
}

@media (max-width: 767px) {
    .kcFormCardClass {
        width: 100% !important;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .kcLoginClass {
        width: 80%;
        padding: 80px 0;
        shrink: 0;
        margin: auto;
    }
}
